---
// ConvertKit newsletter form component
---

<div class="convertkit-form">
  <script
    is:inline
    async
    data-uid="87ebac0d70"
    src="https://tarasenko.kit.com/87ebac0d70/index.js"></script>
</div>

<style>
  .convertkit-form {
    margin: 2rem 0;
  }
</style>
