---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import tz from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(tz);

export interface Props {
  class?: string;
  size?: "sm" | "lg";
  timezone: string | undefined;
  pubDatetime: string | Date;
  modDatetime: string | Date | undefined | null;
}

const {
  pubDatetime,
  class: className = "",
  timezone: postTimezone,
} = Astro.props;

const datetime = dayjs(pubDatetime).tz(postTimezone || SITE.timezone);
const date = datetime.format("D MMM, YYYY");
---

<span class={`datetime ${className}`}>
  <time datetime={datetime.toISOString()}>{date}</time>
</span>

<style>
  .datetime {
    font-size: 13px;
    color: var(--muted);
    letter-spacing: 0;
  }
  .datetime .lbl {
    color: var(--muted);
  }
</style>
