---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <span>&copy; {year} Igor Tarasenko</span>
  <span>
    <a href="https://github.com/Saik0s">GitHub</a>
    &nbsp;·&nbsp;
    <a href="https://x.com/saik0s">X</a>
    &nbsp;·&nbsp;
    <a href="https://www.codementor.io/@saik0s">Codementor</a>
    &nbsp;·&nbsp;
    <a href="/rss.xml">RSS</a>
  </span>
</footer>
